* {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul {
    list-style:none;
    text-align: center;
    margin:0px;
    padding:0px;
}
html {
	scroll-behavior: smooth;
}
body{
	background: url(../images/box-bg.png);
	justify-content: center;
}
a {
    text-decoration:none;
}
img {
	max-width:100%;
}
header {
	background: url(../images/box1.png) repeat-x;
    width: 100%;
}
nav {
	background: url(../images/top-nav-bg.png) repeat-x;
    width: 100%;
}
nav ul li {
	display: inline-block;
	border-left: 1px solid rgba(85, 85, 85, 0.41);
	
}
nav ul li a {
	color: #FFF;
	font-size: 1.3em;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
	padding: 12px 80px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
nav li.active a, nav li a:hover {
	color: #ff9900;
	background: #454545;
}
main {
	min-height: 60vh;
}
aside {
	position: sticky;
    top: 5px;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 0 0 20%;
    max-height: 87vh;
    overflow-y: auto;
}
aside a {
    display: block;
    margin: 15px 0;
    padding: 8px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1em;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
aside h2 {
	color: #ff9900;
	text-align: center;
	font-size: 1.3em;
}
aside a:hover {
	background-color: #ff9900;
	color: #333;
}
footer {
	text-align: center;
	margin-top: 10px;
	padding: 20px;
	background-color: #333;
	width: 100%;
	max-width: 97%;
}
footer p {
	font-weight: 400;
	color: white;
}
/* Home Page Styles */
.sign-out {
	display: inline-block;
	width: 3%;
	margin-top: 10px;
}
.wrap {
	width:80%;
	margin:0 auto;
    align-items: center;
}
.header-top {
	padding: 10px 0 25px 0;
}
.logo {
	float:left;
	margin-top: 0.8em;
}
.contact-info {
	float:right;
}
.contact-info p {
	font-size: 1.3em;
	font-weight: 400;
	color: #3B3B3B;
	text-transform: uppercase;
}
.contact-info p a {
	color:#1b98b1;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.contact-info p a:hover {
	color:#3B3B3B;
}
.clear {
    clear:both;
}
.main-container {
	display: flex;
    gap: 10px;
    margin: 10px;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.rslides img {
    position: relative;
    display: block;
    height: auto;
    float: left;
    border: 0;
    width: 200vh;
    border-top: 5px solid #454545;
}
.quote-open:before {
	content: url(../images/quote-1.png);
	padding-right:5px;
}
.quote-close:after {
	content: url(../images/quote-2.png);
	padding-right:5px;
}
.motto p {
	font-size: 1.5em;
	font-weight: 400;
	color: #3B3B3B;
	display: block;
	width: 60%;
	text-align: center;
	margin: 0.5em auto;
}
.services-container {
	padding: 3.5em 0 3.7em 0;
	background: url(../images/box.png);
	margin:5px 5px 40px 0px;
}
.service-grid {
	float:left;
	width:33.333%;
}
.service-pic {
	float:left;
	width:25%;
	margin-top: 27px;
}
.service-pic img {
	display: block;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.25)
}
.service-pic-info {
	float:right;
	width: 69.5%;
}
.service-pic-info h3 {
	font-size: 1.8em;
	font-weight: 400;
	color: #995c00;
}
.service-pic-info p {
	color: #6a6a6a;
	font-size: 0.875em;
	padding: 5px 0 5px 0;
	line-height: 1.5em;
}
.service-pic-info a {
	font-size:1em;
	font-weight: 400;
	color: #3B3B3B;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.service-pic-info a:hover {
	color:#ff9900;
}
.content-box-top h3{
	font-size: 1.8em;
	font-weight: 400;
	color: #995c00;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(85, 85, 85, 0.1);
	padding: 0em 0 0.2em 0;
	margin: 0px 0px 0.5em 0;
}
.content-box-top p{
	color: #6a6a6a;
	font-size: 0.875em;
	padding: 5px 0 5px 0;
	line-height: 1.5em;
}
.content-box-right{
	float:right;
	width:27%;
}
.content-box-bottom {
	padding: 0.5em 0 2em 0;
}
.rooms-box {
	width:26%;
	float:left;
	margin-right:3%;
}
.rooms-box h3{
	font-size: 1.3em;
	font-weight: 400;
	color: #3B3B3B;
	text-transform: uppercase;
}
.rooms-box p{
	color: #6a6a6a;
	font-size: 0.875em;
	padding: 0.5em 0;
	line-height: 1.8em;
}
.rooms-box img{
	background:#FFF;
	padding:5px;
	display:block;
	width: 93%;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.rooms-box:hover img{
	background:#71D6EA;
}
.special-room h3{
	font-size: 1.8em;
	font-weight: 400;
	color: #cc0000;
	border-bottom: 1px solid rgba(85, 85, 85, 0.1);
	padding: 0em 0 5px 0;
	display: block;
	margin: 0 0 0.6em 0;
}
.special-room img{
	background:#FFF;
	padding:5px;
	display:block;
	width: 60%;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.special-room h4{
	font-size: 1.3em;
	font-weight: 400;
	color: #3B3B3B;
	text-transform: uppercase;
	padding: 0.5em 0 0.0em 0;
}
.special-room p{
	color: #6a6a6a;
	font-size: 0.875em;
	padding: 0.5em 0;
	line-height: 1.5em;
}
.special-room a{
	font-size: 1em;
	font-weight: 400;
	color: #3B3B3B;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.special-room img:hover{
	background:#71D6EA;
}
.special-room a:hover{
	color:#ff9900;
}
/* Home Page Styles End */
/* About Page Styles */
.about-main-container {
	display: flex;
	justify-content: flex-end;
    gap: 10px;
    margin: 10px;
}
.hotel-pic {
	margin: 25px;
	width: 35.33%;
	float: right;
	background:#FFF;
	padding:5px;
	display:block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.hotel-pic:hover {
	background:#71D6EA;
}
.about-hotel {
	width: 40%;
	float: left;
	justify-content: flex-start;
}
.about-hotel h3 {
	font-size: 30px;
	font-weight: 400;
	line-height: 2em;
	margin: 0;
	border-bottom: 3px solid #454545;
	text-transform: uppercase;
	color: #454545;
}
.about-hotel span {
	color: #6a6a6a;
	font-size: 0.875em;
	padding: 5px 0 15px 10px;
	line-height: 1.5em;
	font-weight: bold;
	display: block;
}
.about-hotel p {
	color: #6a6a6a;
	font-size: 1.2em;
	padding: 5px 0 10px 40px;
	line-height: 1.8em;
}
.about-hotel a {
	font-size:0.75em;
	padding-left: 50px;
	font-weight: 400;
	color: #1b98b1;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.about-hotel a:hover {
	color:#ff9900;
}
/* About Page Styles End */
/* Contact Page Styles*/
.contact-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 10px;
}
.contact-container h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 2em;
	margin: 5px;
	color: #454545;
}
.hotel-address {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	width: 29.2%;
	padding:1.5%; 
}
.hotel-address p {
	font-size: 0.875em;
	color: #6a6a6a;
	line-height: 1.8em;
}
.hotel-address p span {
	text-decoration:underline;
	color:#454545;
	cursor:pointer;
}
section {
	display: block;
	margin: 1% 0 1% 1.6%;
	width: 63.1%;
	padding:1.5%; 
}
.contact-form {
	position: relative;
    padding-bottom: 30px;
}
.contact-form div {
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:1em;
	color: #454545;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea {
	padding:8px;
	display:block;
	width:98%;
	border: none;
	outline:none;
	color:#464646;
	font-size:0.8125em;
	border: 1px solid rgba(192, 192, 192, 0.41);
}
.contact-form textarea {
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"] {
	margin-left: 5px;
	background:none;
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;
	color: #71D6EA;
	display: inline-block;
}
.contact-form input[type="submit"]:hover {
	color: #454545;
	text-decoration: none;
}
/* Contact Page Styles End*/